.login-container {
  height: 100vh;
  background: linear-gradient(135deg, #94b5e6, #6610f2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-black {
  color: #000 !important;
}

.login-card {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  background: #ffffff;
}

.card h3 {
  font-weight: 600;
  color: #333;
}

.btn-primary {
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
