/* You can add global styles to this file, and also import other style files */
.navbar-purple{
  background:linear-gradient(90deg, #6f42c1,#8e44ad);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
