<div class="container mt-4" *ngIf="empleado">
  <h2>Editar Empleado</h2>

  @if (cargando) {
    <div class="alert alert-danger-info mt-3">Cargando....</div>
  }

  @if (error && !cargando) {
    <div class="alert alert-danger mt-3">{{error}}</div>
  }

  <form (ngSubmit)="onSubmit()" #f="ngForm" class="mt-3">

    <div class="mb-3">
      <label for="">Id</label>
      <input type="text" class="form-control" [value]="empleado.idEmpleado" disabled>
      <div class="form-tex">El id no se puede modificar</div>
    </div>

    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        name="nombre"
        [(ngModel)]="empleado.nombre"
        required>
    </div>

    <div class="mb-3">
      <label class="form-label">Departamento</label>
      <input
        type="text"
        class="form-control"
        name="departamento"
        [(ngModel)]="empleado.departamento"
        required>
    </div>

    <div class="mb-3">
      <label class="form-label">Sueldo</label>
      <input
        type="number"
        class="form-control"
        name="sueldo"
        [(ngModel)]="empleado.sueldo"
        required>
    </div>

    <button class="btn btn-primary" [disabled]="f.invalid || guardando">
      {{ guardando ? 'Guardando..': 'Guardar cambios'}}
    </button>

    <a routerLink="/employees" class="btn btn-secondary ms-2">
      Cancelar
    </a>
  </form>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
</div>
